#headingTwo {
	display: flex;
	background-color: #f7f8fa;
}
#lists {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	font-size: 20px;
	gap: 20px;
	padding-top: 15px;
	color: #7f8080;
}
#logo {
	width: 13%;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	margin-left: 20px;
	color: #222222;
	letter-spacing: 7px;
}
#headerIcons {
	display: flex;
	width: 700px;
	justify-content: right;
}
.icons {
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin-top: 3px;
	padding: 10px;
	margin-left: 10px;
}
img {
	width: 100%;
}
.cart {
	display: flex;
	gap: 5px;
}
.prodCount {
	font-size: 20px;
}
.colorChange:hover {
	color: black;
}
.iconColor:hover {
	background-color: white;
}
#signInUpMenu {
	display: none;
}
#user:hover > #signInUpMenu {
	display: block;
	position: absolute;
	padding: 1%;
	background-color: white;
}
#user > #signInUpMenu > li {
	list-style-type: none;
	margin-bottom: 12px;
}
#user > #signInUpMenu > li > a {
	text-decoration: none;
	color: #7f8080;
}

.container {
	/* border: 1px solid red; */
	width: 100%;
	height: 100%;
}
.about {
	padding-left: 40px;
	padding-right: 40px;
}

.dress {
	width: 100%;
	height: 50%;
}
.location {
	width: 100%;
	height: 50%;
}
.meet {
	/* border: 1px solid red; */
	margin-top: 5px;
}
h1 {
	text-align: center;
	color: black;
}
.button {
	/* border: 1px solid red; */
	padding-left: 40px;
	padding-right: 40px;
}
.button div {
	width: 100%;
	height: 50%;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
	display: flex;
	gap: 30px;
}
.ad {
	border: 10px solid rgba(128, 128, 128, 0.192);
	width: 100%;
	height: 100%;
}
a {
	color: black;
}
a:hover {
	padding-left: 1px;
}
