.buttonUpper {
  width: 100%;
}

.home {
  padding: 20px 40px 25px;
}

#buttonContainer {
  display: grid;
  grid-template-columns: repeat(6, 210px);
  grid-gap: 2%;
  row-gap: 10%;
  padding: 10px;
  margin-bottom: 2%;
}

.buttonItem {
  border: 0.2px solid rgba(0, 0, 0, 0.342);
  width: 200px;
  height: 20px;
  display: inline-block;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 4%;
  color: black;
}

.buttonItem:hover {
  border-color: black;
  cursor: pointer;
}

a:active {
  background-color: black;
}
a:active > .buttonItem {
  color: white;
}

span {
  color: #e9e9e9;
}
.homeIcon:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* category css part */

#container {
  display: flex;
  justify-content: space-evenly;
}

#catList {
  padding: 1%;
  width: 12%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#heartIcon {
  display: flex;
  justify-content: space-between;
}

#fav:hover {
  color: red;
  cursor: pointer;
}

#boxs {
  width: 84%;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  justify-content: space-evenly;
  grid-gap: 1%;
}

#box {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

p,
h4,
h3 {
  margin: 5px 0px 5px;
}

#catList > h4 {
  margin: 25px 0px 5px;
}
img {
  width: 100%;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
}

.imageDive {
  position: relative;
  width: 100%;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageDive:hover .middle {
  opacity: 1;
}

.btn {
  background-color: white;
  color: black;
  font-size: 12px;
  width: 180px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

#bedsDiv {
  display: none;
}
#kitchenDiv {
  display: none;
}

#decoreDiv {
  display: none;
}
