#forgetPassword {
	width: 348px;
	margin: auto;
}
h1 {
	color: #8c7f74;
}
#email {
	width: 97%;
	height: 27px;
}
#reset {
	border-radius: 3%;
	margin: 20px 95px 0px 95px;
	height: 30px;
	text-align: center;
	background-color: #222222;
	color: #fffffc;
	cursor: pointer;
	font-size: 20px;
}
#reset:hover {
	background-color: rgb(87, 84, 84);
}
#box {
	width: 280px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
#button {
	margin-top: 30px;
	width: 90px;
	background-color: #222222;
	color: #fffffc;
	cursor: pointer;
	font-size: 20px;
	margin-left: 92px;
}
#button:hover {
	background-color: rgb(87, 84, 84);
}
.pass {
	height: 27px;
}
