/* header part */
#headingTwo {
	display: flex;
	background-color: #f7f8fa;
}
#lists {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	font-size: 20px;
	gap: 20px;
	padding-top: 15px;
	color: #7f8080;
}
#logo {
	width: 13%;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	margin-left: 20px;
	color: #222222;
	letter-spacing: 7px;
}
#headerIcons {
	display: flex;
	width: 700px;
	justify-content: right;
}
.icons {
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin-top: 3px;
	padding: 10px;
	margin-left: 10px;
}
img {
	width: 100%;
}
.cart {
	display: flex;
	gap: 5px;
}
.prodCount {
	font-size: 20px;
}
.colorChange:hover {
	color: black;
}
.iconColor:hover {
	background-color: white;
}
#signInUpMenu {
	display: none;
}
#user:hover > #signInUpMenu {
	display: block;
	position: absolute;
	padding: 1%;
	background-color: white;
}
#user > #signInUpMenu > li {
	list-style-type: none;
	margin-bottom: 12px;
}
#user > #signInUpMenu > li > a {
	text-decoration: none;
	color: #7f8080;
}

/* forget password part */
#forgetPassword {
	width: 348px;
	margin: auto;
}
h1 {
	color: #8c7f74;
}
#email {
	width: 97%;
	height: 27px;
}
#reset {
	border-radius: 3%;
	margin: 20px 95px 0px 95px;
	height: 30px;
	text-align: center;
	background-color: #222222;
	color: #fffffc;
	cursor: pointer;
	font-size: 20px;
}
#reset:hover {
	background-color: rgb(87, 84, 84);
}
#box {
	width: 280px;
	margin: auto;
	display: flex;
	flex-direction: column;
}
#button {
	margin-top: 30px;
	width: 90px;
	background-color: #222222;
	color: #fffffc;
	cursor: pointer;
	font-size: 20px;
	margin-left: 92px;
}
#button:hover {
	background-color: rgb(87, 84, 84);
}
.pass {
	height: 27px;
}
