/* header part */
#headingTwo {
	display: flex;
	background-color: #f7f8fa;
}
#lists {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	font-size: 20px;
	gap: 20px;
	padding-top: 15px;
	color: #7f8080;
}
#logo {
	width: 13%;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	margin-left: 20px;
	color: #222222;
	letter-spacing: 7px;
}
#headerIcons {
	display: flex;
	width: 700px;
	justify-content: right;
}
.icons {
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin-top: 3px;
	padding: 10px;
	margin-left: 10px;
}
img {
	width: 100%;
}
.cart {
	display: flex;
	gap: 5px;
}
.prodCount {
	font-size: 20px;
}
.colorChange:hover {
	color: black;
}
.iconColor:hover {
	background-color: white;
}
#signInUpMenu {
	display: none;
}
#user:hover > #signInUpMenu {
	display: block;
	position: absolute;
	padding: 1%;
	background-color: white;
}
#user > #signInUpMenu > li {
	list-style-type: none;
	margin-bottom: 12px;
}
#user > #signInUpMenu > li > a {
	text-decoration: none;
	color: #7f8080;
}

/* home middle part */
#container {
	/* border: 1px solid red; */
	width: 95%;
	margin: auto;
	cursor: pointer;
}
h1 {
	text-align: center;
}
#categoryBox {
	/* border: 1px solid blue; */
	margin: auto;
	width: 98%;
	display: grid;
	grid-template-columns: repeat(5, 250px);
	grid-template-rows: repeat(3, 80px);
	grid-gap: 15px;
	justify-content: space-evenly;
}
#bigImage {
	width: 96%;
	height: 550px;
	overflow: hidden;
	margin: auto;
}
img.animatedGif {
	width: 100%;
	height: auto;
}
#boxes {
	display: flex;
	padding: 15px;
	background-color: red;
}
#boxes > #imageBox {
	width: 50px;
}
#boxes > #imageBox > img {
	width: 100%;
	filter: invert(100%);
}
#shopCatText {
	padding-left: 15%;
	color: white;
	font-size: 16.3px;
}
#campaigns {
	/* border: 1px solid blue; */
	width: 96%;
	margin: auto;
	margin-top: 5%;
}
#campaignsImg > a > img {
	width: 100%;
}
#brand {
	/* border: 1px solid blue; */
	width: 96%;
	margin: auto;
	margin-top: 5%;
}
#brandImage > a > img {
	width: 100%;
}
#dailydrops {
	width: 96%;
	margin: auto;
	margin-top: 5%;
}
#dailydropImage > a > img {
	width: 100%;
}
#sheinSale {
	width: 96%;
	margin: auto;
	margin-top: 5%;
}
