/* header part */
section {
	width: 100%;
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: row;
	background-color: black;
	/* padding: 0px; */
	height: 60px;
}
#offer {
	color: white;
	margin-left: 200px;
	width: 80%;
	/* border: 1px soild red; */
	padding: 0px;
	margin-top: 0px;
}
#countdown {
	padding-top: 15px;
	/* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	float: right;
	padding-right: 150px;
	width: 20%;
	/* padding: 0px; */
}
#countText {
	font-size: 23px;
}
.day,
.hour,
.minute,
.second {
	font-size: 23px;
	text-align: center;
}
.timerText {
	color: red;
	font-weight: bold;
}
span1 {
	color: white;
	font-size: 23px;
	font-weight: bold;
}

#headingTwo {
	display: flex;
	background-color: #f7f8fa;
}
#lists {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	font-size: 20px;
	gap: 20px;
	padding-top: 15px;
	color: #7f8080;
}
#logo {
	width: 13%;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	margin-left: 20px;
	color: #222222;
	letter-spacing: 7px;
}
#headerIcons {
	display: flex;
	width: 700px;
	justify-content: right;
}
.icons {
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin-top: 3px;
	padding: 10px;
	margin-left: 10px;
}
img {
	width: 100%;
}
.cart {
	display: flex;
	gap: 5px;
}
.prodCount {
	font-size: 20px;
}
.colorChange:hover {
	color: black;
}
.iconColor:hover {
	background-color: white;
}
#signInUpMenu {
	display: none;
}
#user:hover > #signInUpMenu {
	display: block;
	position: absolute;
	padding: 1%;
	background-color: white;
}
#user > #signInUpMenu > li {
	list-style-type: none;
	margin-bottom: 12px;
}
#user > #signInUpMenu > li > a {
	text-decoration: none;
	color: #7f8080;
}

/* kids middle part */
#container {
	/* border: 1px solid red; */
	margin: auto;
	width: 95%;
	height: 3520px;
	cursor: pointer;
}
#black_friday {
	/* border: 1px solid purple; */
	height: 720px;
}
#black_friday > a > img {
	width: 100%;
}
.text {
	text-align: center;
	font-weight: bold;
	margin-top: 50px;
}
#shopByCategory {
	/* border: 1px solid blue; */
	width: 88%;
	height: 600px;
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: repeat(2, auto);
	margin: auto;
}
#shopByCategory > div {
	width: 200px;
	height: 260px;
	margin: auto;
	border-radius: 6%;
}
#shopByCategory > div > a > img {
	width: 100%;
	border-radius: 6%;
}

#slider {
	position: relative;
	width: 1428px;
	height: 500px;
	overflow: hidden;
}
#slider ul {
	position: relative;
	list-style: none;
	height: 100%;
	width: 10000%;
	padding: 0;
	margin: 0;
	transition: all 750ms ease;
	left: 0;
}
#slider ul li {
	position: relative;
	height: 100%;
	float: left;
}
#slider ul li a img {
	width: 1428px;
	height: 500px;
}
#slider1 {
	margin-top: 10px;
	position: relative;
	width: 1428px;
	height: 500px;
	overflow: hidden;
}
#slider1 ul {
	position: relative;
	list-style: none;
	height: 100%;
	width: 10000%;
	padding: 0;
	margin: 0;
	transition: all 750ms ease;
	left: 0;
}
#slider1 ul li {
	position: relative;
	height: 100%;
	float: left;
}
#slider1 ul li a img {
	width: 1428px;
	height: 500px;
}
#new_arrivals {
	/* border: 1px solid purple; */
	height: 476px;
}
#new_arrivals > a > img {
	width: 100%;
}
#sale {
	/* border: 1px solid purple; */
	height: 318px;
}
#sale > a > img {
	width: 100%;
}

/* footer part */
.container {
	/* border: 1px solid red; */
	/* max-width: 1250px; */
	height: 400px;
	margin: auto;
	background-color: #fafafa;
	padding: 20px;
}
.firsthalf {
	/* border: 1px solid green; */
	width: 100%;
	height: 50%;
	display: flex;
	padding-left: 100px;
}
.col-1 {
	/* border: 1px solid blue; */
	width: 50%;
	height: 100%;
	display: flex;
}
.line-1 {
	float: left;
	width: 25%;
	min-height: 1px;
	margin-left: 10px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: gray;
}
.col-2 {
	display: flex;
	flex-direction: column;
}
.findUs {
	width: 100%;
}
.findUs > ul > li {
	float: left;
}
.last-inline > li {
	float: left !important;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	line-height: 32px;
	display: list-item;
}

.image {
	border-style: none;

	padding-left: 10px;
}
#app {
	width: 40%;
	/* border: 1px solid red; */
	display: inline-block;
}
#row-1 {
	width: 100%;
	/* border: 1px solid red; */
	display: inline-block;
	align-items: left;
	margin-left: -50px;
}
.icons > li {
	float: left;
}

button {
	height: 40px;
	width: 100px;
	background-color: black;
	color: white;
	font-size: 17px;
}
#subscribe {
	width: 400px;
	height: 35px;
}
.rowsecond {
	/* border: 1px solid green; */
	width: 100%;
	height: 50%;
	display: flex;
	padding-left: 100px;
	margin-top: 30px;
}
.policy {
	/* border: 1px solid red; */
	width: 50%;
	height: 100%;
	display: inline-block;
	margin-top: 70px;
}
.first > ul > li {
	float: left;
	margin-right: 10px;
	text-decoration: underline;
	border-right: 1px solid gray;
	padding-right: 10px;
	line-height: 25px;
}
.policy > span {
	margin-left: 40px;
}
.payment {
	/* border: 1px solid blue; */
	width: 50%;
	height: 100%;
}
.paymentImg {
	width: 20px;
	height: 20px;
}
#payment-option > li {
	float: left;
	padding-right: 10px;
}
