/* header part */
#headingTwo {
	display: flex;
	background-color: #f7f8fa;
}
#lists {
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	font-size: 20px;
	gap: 20px;
	padding-top: 15px;
	color: #7f8080;
}
#logo {
	width: 13%;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	margin-left: 20px;
	color: #222222;
	letter-spacing: 7px;
}
#headerIcons {
	display: flex;
	width: 700px;
	justify-content: right;
}
.icons {
	width: 22px;
	height: 22px;
	cursor: pointer;
	margin-top: 3px;
	padding: 10px;
	margin-left: 10px;
}
img {
	width: 100%;
}
.cart {
	display: flex;
	gap: 5px;
}
.prodCount {
	font-size: 20px;
}
.colorChange:hover {
	color: black;
}
.iconColor:hover {
	background-color: white;
}
#signInUpMenu {
	display: none;
}
#user:hover > #signInUpMenu {
	display: block;
	position: absolute;
	padding: 1%;
	background-color: white;
}
#user > #signInUpMenu > li {
	list-style-type: none;
	margin-bottom: 12px;
}
#user > #signInUpMenu > li > a {
	text-decoration: none;
	color: #7f8080;
}

/* signInUp part */
#container {
	display: flex;
	width: 800px;
	margin: auto;
	gap: 30px;
	padding: 20px;
	height: 550px;
	margin-top: 60px;
}
#signIn {
	width: 40%;
	height: 100%;
	margin: auto;
}
#vertLine {
	border: 1px solid #e8e8e8;
	margin: auto;
	height: 100%;
}
#signUp {
	width: 40%;
	margin: auto;
	height: 100%;
}
h2 {
	text-align: center;
}
.button {
	margin-top: 20px;
	width: 100%;
	background-color: #222222;
	color: #fffffc;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.button:hover {
	background-color: rgb(87, 84, 84);
}
.userInput {
	width: 97.5%;
	height: 30px;
}
.text {
	color: #8c7f74;
}
#signInBtn > select {
	margin-bottom: 25px;
}
#signInBtn > div {
	margin-bottom: 22px;
}
#signUpBtn > select {
	margin-bottom: 25px;
}
#signUpBtn > div {
	margin-bottom: 22px;
}
#forgetPassword {
	color: #8c7f74;
	text-align: center;
	font-size: 14px;
}
#forgetPassword:hover {
	text-decoration: underline;
	cursor: pointer;
	color: black;
}
#or {
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	margin-bottom: 20px;
}
#or > div {
	border: 1px solid #c5bdb6;
	width: 45%;
	height: 0px;
	margin-top: 27px;
}
#or > p {
	color: #c5bdb6;
	text-align: center;
	font-size: 14px;
	padding: 2%;
}
#gmail,
#facebook {
	border: 1px solid #cecbcb;
	display: flex;
	height: 50px;
	margin-bottom: 20px;
	cursor: pointer;
}
#gmail > div,
#facebook > div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 30px;
}
#gmail > div + div,
#facebook > div + div {
	width: 180px;
	margin-left: 45px;
	font-size: 20px;
	padding-top: 5px;
	color: #81807e;
}
#facebook > div + div {
	margin-left: 34.5px;
	width: 200px;
}
#gmail:hover,
#facebook:hover {
	background-color: rgb(233, 227, 227);
}
#privacyAndAgreement {
	display: flex;
	gap: 5px;
	cursor: pointer;
	font-size: 18px;
}
#privacyAndAgreement > div {
	color: #81807e;
}
#privacyAndAgreement > div > input {
	cursor: pointer;
}
#privacyAndAgreement > div > a {
	text-decoration: none;
	color: #3272bb;
}

/* footer part */
.container {
	/* border: 1px solid red; */
	/* max-width: 1250px; */
	height: 400px;
	margin: auto;
	background-color: #fafafa;
	padding: 20px;
	margin-top: 50px;
}
.firsthalf {
	/* border: 1px solid green; */
	width: 100%;
	height: 50%;
	display: flex;
	padding-left: 100px;
}
.col-1 {
	/* border: 1px solid blue; */
	width: 50%;
	height: 100%;
	display: flex;
}
.line-1 {
	float: left;
	width: 25%;
	min-height: 1px;
	margin-left: 10px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: gray;
}
.col-2 {
	display: flex;
	flex-direction: column;
}
.findUs {
	width: 100%;
}
.findUs > ul > li {
	float: left;
}
.last-inline > li {
	float: left !important;
	width: 36px;
	height: 36px;
	margin-right: 10px;
	line-height: 32px;
	display: list-item;
}

.image {
	border-style: none;

	padding-left: 10px;
}
#app {
	width: 40%;
	/* border: 1px solid red; */
	display: inline-block;
}
#row-1 {
	width: 100%;
	/* border: 1px solid red; */
	display: inline-block;
	align-items: left;
	margin-left: -50px;
}
.icons > li {
	float: left;
}

button {
	height: 40px;
	width: 100px;
	background-color: black;
	color: white;
	font-size: 17px;
}
#subscribe {
	width: 400px;
	height: 35px;
}
.rowsecond {
	/* border: 1px solid green; */
	width: 100%;
	height: 50%;
	display: flex;
	padding-left: 100px;
	margin-top: 30px;
}
.policy {
	/* border: 1px solid red; */
	width: 50%;
	height: 100%;
	display: inline-block;
	margin-top: 70px;
}
.first > ul > li {
	float: left;
	margin-right: 10px;
	text-decoration: underline;
	border-right: 1px solid gray;
	padding-right: 10px;
	line-height: 25px;
}
.policy > span {
	margin-left: 40px;
}
.payment {
	/* border: 1px solid blue; */
	width: 50%;
	height: 100%;
}
.paymentImg {
	width: 20px;
	height: 20px;
}
#payment-option > li {
	float: left;
	padding-right: 10px;
}
