#container {
	display: flex;
	width: 800px;
	margin: auto;
	gap: 30px;
	padding: 20px;
	height: 550px;
	margin-top: 60px;
}
#signIn {
	width: 40%;
	height: 100%;
	margin: auto;
}
#vertLine {
	border: 1px solid #e8e8e8;
	margin: auto;
	height: 100%;
}
#signUp {
	width: 40%;
	margin: auto;
	height: 100%;
}
h2 {
	text-align: center;
}
.button {
	margin-top: 20px;
	width: 100%;
	background-color: #222222;
	color: #fffffc;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.button:hover {
	background-color: rgb(87, 84, 84);
}
.userInput {
	width: 97.5%;
	height: 30px;
}
.text {
	color: #8c7f74;
}
#signInBtn > select {
	margin-bottom: 25px;
}
#signInBtn > div {
	margin-bottom: 22px;
}
#signUpBtn > select {
	margin-bottom: 25px;
}
#signUpBtn > div {
	margin-bottom: 22px;
}
#forgetPassword {
	color: #8c7f74;
	text-align: center;
	font-size: 14px;
}
#forgetPassword:hover {
	text-decoration: underline;
	cursor: pointer;
	color: black;
}
#or {
	display: flex;
	flex-wrap: wrap;
	height: 50px;
	margin-bottom: 20px;
}
#or > div {
	border: 1px solid #c5bdb6;
	width: 45%;
	height: 0px;
	margin-top: 27px;
}
#or > p {
	color: #c5bdb6;
	text-align: center;
	font-size: 14px;
	padding: 2%;
}
#gmail,
#facebook {
	border: 1px solid #cecbcb;
	display: flex;
	height: 50px;
	margin-bottom: 20px;
	cursor: pointer;
}
#gmail > div,
#facebook > div {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 30px;
}
#gmail > div + div,
#facebook > div + div {
	width: 180px;
	margin-left: 45px;
	font-size: 20px;
	padding-top: 5px;
	color: #81807e;
}
#facebook > div + div {
	margin-left: 34.5px;
	width: 200px;
}
#gmail:hover,
#facebook:hover {
	background-color: rgb(233, 227, 227);
}
#privacyAndAgreement {
	display: flex;
	gap: 5px;
	cursor: pointer;
	font-size: 18px;
}
#privacyAndAgreement > div {
	color: #81807e;
}
#privacyAndAgreement > div > input {
	cursor: pointer;
}
#privacyAndAgreement > div > a {
	text-decoration: none;
	color: #3272bb;
}
